<nav>
    <ul class="nav-bar">
        <li class="active"><a href="#">ANA SAYFA</a></li>
        <li><a href="#menu">MENU</a></li>
        <li><a class="logo" href="#">CookNow</a></li>
        <li><a href="#sss">SSS</a></li>
        <li><a href="#user">GİRİŞ YAP / ÜYE OL</a></li>
    </ul>
</nav>

<style>
    nav {
        width: 100%;
        height: 50px;
        background-color: #5a7738;
        font-family: arial;
    }

    nav .nav-bar {
        width: 80%;
        margin: auto;
        list-style: none;
        padding: 0px;
        height: 50px;
    }

    nav .nav-bar li {
        float: left;
        height: 30px;
        margin-top: 10px;
        padding-left: 6%;
        padding-right: 6%;    
        -webkit-transition: border 2s ease-out;
        -moz-transition: border 2s ease-out;
        -o-transition: border 2s ease-out;
        transition: border 2s ease-out;
    }

    nav .nav-bar li a {
        margin: auto;
        float: left;
        color: #d8d8d8;
        font-size: 13px;
        line-height: 30px;
        text-decoration: none; 
    }

    .logo {
        font-size: 24px!important;
    }

    .active {
        border:2px solid #39521c;
        border-radius: 20px;
    }
</style>